<section id="contact" class="py-5">
    <div class="container">
        <h2 class="fw-bold display-6 text-center">CONTACT SECTION</h2>
        <app-star></app-star>
     <form action="" class="w-50 mx-auto">
        <label for="name" class=""></label>
        <input type="text" class="form-control border-0 border-bottom py-3" id="name" placeholder="userName">
        <label for="age" class=""></label>
        <input type="number" class="form-control border-0 border-bottom py-3" id="age" placeholder="userAge">
        <label for="email" class=""></label>
        <input type="email" class="form-control border-0 border-bottom py-3" id="email" placeholder="userEmail">
        <label for="password" class=""></label>
        <input type="password" class="form-control border-0 border-bottom py-3" id="password" placeholder="userPassword">
        <button class="btn text-white form-btn mt-4">send Message</button>

     </form>
    </div>
</section>
