
<section id="portfolio-content" class="py-5">
    <div class="container text-center">
        <h2 class="fw-bold display-6">PORTFOLIO COMPONENT</h2>
        <app-star></app-star>

        <div class="row g-3">
            <div class="col-md-4">
                <div class="bg-info position-relative part" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="assets/poert1.png" alt="" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="bg-info position-relative part" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <img src="../../assets/port2.png" alt="" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="bg-info position-relative part" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                    <img src="../../assets/port3.png" alt="" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="bg-info position-relative part" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                    <img src="assets/poert1.png" alt="" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="bg-info position-relative part" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                    <img src="../../assets/port2.png" alt="" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="bg-info position-relative part" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                    <img src="../../assets/port3.png" alt="" class="w-100">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>

            </div>
          
        </div>
    </div>



    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content ">
            <div class="modal-body">
                <img src="../../assets/poert1.png" alt="" class="w-100">
               </div>
          </div>
        </div>
      </div>
    <div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content ">
            <div class="modal-body">
                <img src="../../assets/port2.png" alt="" class="w-100">
               </div>
          </div>
        </div>
      </div>
    <div class="modal fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content ">
            <div class="modal-body">
                <img src="../../assets/port3.png" alt="" class="w-100">
               </div>
          </div>
        </div>
      </div>
    <div class="modal fade " id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content ">
            <div class="modal-body">
                <img src="../../assets/poert1.png" alt="" class="w-100">
               </div>
          </div>
        </div>
      </div>
    <div class="modal fade " id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content ">
            <div class="modal-body">
                <img src="../../assets/port2.png" alt="" class="w-100">
               </div>
          </div>
        </div>
      </div>
    <div class="modal fade " id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content ">
            <div class="modal-body">
                <img src="../../assets/port3.png" alt="" class="w-100">
               </div>
          </div>
        </div>
      </div>



</section>

